<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OSPF Config Info Form</title>
</head>
<body>
    <h1> <font size = "4"> Login credentials for R1</font> </h1>
     <form method="post" action="/formData1">
         <label>Username</label> <input type="text" name="username1">  <br>
         <label>Password</label> <input type="text" name="password1">  <br>
     <h2> <font size = "4"> OSPF information for R1</font> </h2>
         <label>OSPF Process ID for R1</label> <input type="text" name="process_id1">  <br>
         <label>OSPF Area ID for R1</label> <input type="text" name="area_id1">  <br>
         <label>Loopback IP for R1</label> <input type="text" name="loopback_IP1">  <br>
         <label>Network1 for R1</label> <input type="text" name="network1_1">  <br>
         <label>Network2 for R1</label> <input type="text" name="network1_2">  <br>
         <input type="submit" name="submit" value ="submit">
    </form>

    <h3> <font size = "4"> Login credentials for R2</font> </h3>
     <form method="post" action="/formData2">
         <label>Username</label> <input type="text" name="username2">  <br>
         <label>Password</label> <input type="text" name="password2">  <br>
     <h4> <font size = "4"> OSPF information for R2</font> </h4>
         <label>OSPF Process ID for R2</label> <input type="text" name="process_id2">  <br>
         <label>OSPF Area ID 1 for R2</label> <input type="text" name="area_id21">  <br>
         <label>OSPF Area ID 2 for R2</label> <input type="text" name="area_id22">  <br>
         <label>Loopback IP for R2</label> <input type="text" name="loopback_IP2">  <br>
          <label>Network1 for R2</label> <input type="text" name="network2_1">  <br>
         <label>Network2 for R2</label> <input type="text" name="network2_2">  <br>
         <label>Interface cost</label> <input type="text" name="int_cost1">  <br>
         <input type="submit" name="submit" value ="submit">
    </form>

    <h5> <font size = "4"> Login credentials for R3 </font> </h5>
     <form method="post" action="/formData3">
         <label>Username</label> <input type="text" name="username3">  <br>
         <label>Password</label> <input type="text" name="password3">  <br>
     <h6> <font size = "4"> OSPF information for R3</font> </h6>
         <label>OSPF Process ID for R3</label> <input type="text" name="process_id3">  <br>
         <label>OSPF Area ID for R3</label> <input type="text" name="area_id3">  <br>
         <label>Loopback IP for R3</label> <input type="text" name="loopback_IP3">  <br>
          <label>Network1 for R3</label> <input type="text" name="network3_1">  <br>
         <input type="submit" name="submit" value ="submit">
    </form>

    <h7> <font size = "4"> Login credentials for R4 </font> </h7>
     <form method="post" action="/formData4">
         <label>Username</label> <input type="text" name="username4">  <br>
         <label>Password</label> <input type="text" name="password4">  <br>
     <h8> <font size = "4"> OSPF information for R4</font> </h8>
         <label>OSPF Process ID for R4</label> <input type="text" name="process_id4">  <br>
         <label>OSPF Area ID 1 for R4</label> <input type="text" name="area_id41">  <br>
         <label>OSPF Area ID 2 for R4</label> <input type="text" name="area_id42">  <br>
         <label>Loopback IP for R4</label> <input type="text" name="loopback_IP4">  <br>
          <label>Network1 for R4</label> <input type="text" name="network4_1">  <br>
         <label>Network2 for R4</label> <input type="text" name="network4_2">  <br>
         <label>Interface cost</label> <input type="text" name="int_cost2">  <br>
         <input type="submit" name="submit" value ="submit">
    </form>
<a href="/"> Back </a>
</body>
</html>
